@import "../../styles/settings.scss";

/*main view*/

.container {
  min-height: 70vh;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoursDiv {
  margin: 25px 0 0 0;
}

.hours {
  margin: 0 0 25px 0;
}

.inProgress {
  margin: 25px 0 0 0;
}

/*RWD*/

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
}
