@import "../../styles/settings.scss";

.container {
  min-height: 70vh;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoursDiv {
  margin: 25px 0 25px 0;
}

.mail, .hours, .inProgress{
  margin: 0 0 25px 0;
}
