@import "../../../styles/settings.scss";

header {
  margin: 15px;
}

img {
  height: 220px;
}

.row{
  // border: 1px solid red;
  padding: 50px 0 50px 0;
  width: 65%;
}

.col {
  // border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 25px 0;
}

.title {
  font-size: 3rem;
}

.addressDiv {
  font-size: 1.4rem;
}

.tel, .mail {
  text-decoration: none;
  color: red;
  font-size: 1.4rem;

  &:hover {
    color: black;
  }
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
}
